.App {
  font-family: sans-serif;
  text-align: center;
}
 .facebook-share {
   background: blue;
   color: white;
   border-radius: 10px;
   left: 0;
   right: 0;
   margin: auto;
border: 1px solid red

 }
 .dmg{
   width: 50%
 }